<h1 mat-dialog-title>{{actionHeader}}</h1>
<div mat-dialog-content>
    <form [formGroup]="customerForm">
        <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input formControlName="customerName" matInput placeholder="Customer Name">
            <mat-error *ngIf="f['customerName'].hasError('required')">
                Customer Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="Email" [errorStateMatcher]="matcher">
            <mat-error *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="f['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput placeholder="Phone">
            <mat-error *ngIf="f['phone'].hasError('pattern') && !f['phone'].hasError('required')">
                Please enter a valid phone
            </mat-error>
            <mat-error *ngIf="f['phone'].hasError('required')">
                Phone is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="Address">
            <mat-error *ngIf="f['address'].hasError('required')">
                Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" style="margin-left: 8px" (click)="actionCustomer()">{{actionBtn}}</button>
</div>