<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>

  <div class="spacer"></div>
  <a mat-button routerLink="home" [routerLinkActive]="'is-active'">Home</a>
  <a mat-button routerLink="products" [routerLinkActive]="'is-active'">Product</a>
  <a mat-button routerLink="customers" [routerLinkActive]="'is-active'">Customer</a>
  <a mat-button routerLink="categories" [routerLinkActive]="'is-active'">Category</a>
  <a mat-button routerLink="orders" [routerLinkActive]="'is-active'">Order</a>
  <a mat-button routerLink="shippers" [routerLinkActive]="'is-active'">Shipper</a>
  <a mat-raised-button color="accent" routerLink="signup" class="btn-signup">Sign Up</a>
</mat-toolbar>
<router-outlet></router-outlet>
