<form class="example-form" [formGroup]="buyorderForm" (ngSubmit)="saveBuyOrder()">
    <div class="example-container">
        <mat-form-field appearance="outline">
            <mat-label>OrderNo</mat-label>
            <input formControlName="orderNo" matInput placeholder="OrderNo">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>BuyerName</mat-label>
            <input formControlName="buyerName" matInput placeholder="BuyerName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Total Price</mat-label>
            <input formControlName="totalPrice" matInput type="number" placeholder="Total Price">
        </mat-form-field>

        <h3>BuyOrder Detail Info</h3>
        <div>
            <table formArrayName="buyOrderDetails" style="margin: 2%;width: 96%;"
                class="mat-table cdk-table mat-elevation-z8 table-bordered">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Product</td>
                        <td>Amount</td>
                        <td>Prices</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of buyOrderDetails.controls;let i=index" [formGroupName]="i">
                        <td>
                            <input class="form-control" formControlName="id">
                        </td>
                        <td>
                            <select class="form-control" formControlName="productId">
                                <option *ngFor="let item of listProducts" [value]="item.id">{{item.productName}}</option>
                            </select>
                            <!-- <input class="form-control" formControlName="productId"> -->
                        </td>
                        <td>
                            <input class="form-control" formControlName="amount">
                        </td>
                        <td>
                            <input class="form-control" formControlName="prices">

                        </td>
                        <td>
                            <a mat-raised-button color="accent" (click)="RemoveBuyOrderDetails(i)">Remove</a>
                        </td>

                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <a mat-raised-button color="primary" (click)="AddBuyOrderDetails()">Add New (+)</a>
                    </td>
                </tr>
            </tfoot>

            </table>
        </div>

        <div class="example-button-row" style="padding: 1px">
            <button mat-raised-button color="warn" (click)="redirectToList()">Cancel</button> |
            <button mat-raised-button color="primary" style="margin-left: 8px">Save</button>
        </div>
    </div>
</form>